<div class="full-block view" data-news-id="20747" itemscope="" itemtype="http://schema.org/Movie">
    <meta itemprop="dateCreated" content="2021-02-11">
    <meta itemprop="datePublished" content="2021-02-11">






    <meta itemprop="alternativeHeadline" content="Fatale">


    <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
        <meta itemprop="worstRating" content="1">
        <meta itemprop="bestRating" content="10">
        <meta itemprop="ratingValue" content="6,1">
        <meta itemprop="ratingCount" content="189">
        <meta itemprop="reviewCount" content="189">
    </div>

    <div class="full-content clear ns" style="user-select: none;">

        <div class="full-title-block ns" style="user-select: none;">
            <div class="full-title-box">
                <h1 itemprop="name">
                    Опасный соблазн
                    (2021)

                </h1>

                <div class="sub-title">Fatale</div>

            </div>

            <!--noindex-->
            <div class="rating-block">
                <div class="rating-info">
                    <div class="fa fa-info-circle">
                        <ul>

                            <li>КиноПрофи: <b>6.116</b> <span>(189)</span></li>






                            <li>Кинопоиск: <b>0.000</b> <span>(3)</span></li>



                            <li>IMDB: <b>5.30</b> <span>(108)</span></li>


                        </ul>
                    </div>
                </div>



                <div id="ratig-layer-20747">
                    <div class="rating">
                        <ul class="unit-rating">
                            <li class="current-rating" style="width:61%;"></li>
                            <li><a href="#" class="r1-unit" onclick="doRate('1', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r2-unit" onclick="doRate('2', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r3-unit" onclick="doRate('3', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r4-unit" onclick="doRate('4', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r5-unit" onclick="doRate('5', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r6-unit" onclick="doRate('6', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r7-unit" onclick="doRate('7', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r8-unit" onclick="doRate('8', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r9-unit" onclick="doRate('9', '20747'); return false;" title=""></a></li>
                            <li><a href="#" class="r10-unit" onclick="doRate('10', '20747'); return false;" title=""></a></li>
                        </ul>
                    </div>
                </div>





            </div>
            <!--/noindex-->


        </div>
        <!--full-title-block-->

        <div class="full-left-block">

            <div class="poster">

                <div class="poster-box">
                    <a href="https://image.kinoprofi.vip/p/2021-01/400x600/1610225801_opasnyy-soblazn.jpg" class="hs">
                        <img src="https://image.kinoprofi.vip/p/2021-01/200x300/1610225801_opasnyy-soblazn.jpg" alt="Опасный соблазн (2021)" title="Опасный соблазн (2021)" width="200" height="300" itemprop="image">


                    </a>

                </div>
            </div>


            <div class="favorite-block">

				<span class="favorite" title="Для добавления в закладки - авторизуйтесь">
				<a href="/index.php?do=register" class="doregister" rel="nofollow">
					<span class="plus-fav"></span>
				</a>
			</span>


            </div>
        </div>

        <div class="full-right-block">
            <div class="full-right-box clear">
                <div class="mi-right-box">
                    <div class="mi-right-block">
                        <div class="title-column"></div>

                        <div class="more-info">
                            <span class="grid-hide"><b>Качество</b></span>
                            <i><span class="quality">HD</span></i>
                        </div>



                        <div class="more-info">
                            <b>Год</b> <i>2021</i>
                        </div>



                        <div class="more-info">
                            <b>MPAA</b> <i><span class="mpaa-rating mpaa-rating-4"><span title="Лицам до 17 лет обязательно присутствие взрослого">Рейтинг R</span></span></i>
                        </div>



                        <div class="more-info">
                            <b>Страна</b> <i><span class="country" data-id="2" title="USA">США</span></i>
                        </div>



                        <div class="more-info">
                            <b>Жанр</b> <i><span class="catlink" data-id="23" itemprop="genre"><a href="https://kinoprofi.vip/1-triller/" itemprop="url">триллер</a></span></i>
                        </div>



                        <div class="more-info">
                            <b>Из цикла</b> <i><span class="catlink" data-id="12"><a href="/collect/filmy-dlya-vzroslyh/">фильмы для взрослых</a></span>, <span class="catlink" data-id="25"><a href="/collect/filmy-pro-lyubov/">про Любовь и Отношения</a></span>, <span class="catlink" data-id="28"><a href="/collect/filmy-pro-ogrableniya/">про Ограбления, Аферы и Мошенников</a></span></i>
                        </div>



                        <div class="more-info">
                            <b>Перевод</b> <i>Любительский (русский)</i>
                        </div>



                        <div class="more-info">
                            <b>Премьера в РФ</b> <i><time datetime="2021-02-11T00:00:00+0300">11-02-2021</time></i>
                        </div>


                        <div class="more-info">
                            <b>Длительность</b> <i><span class="offset" data-time="6120">1 час 42 минуты</span></i>
                        </div>



                        <div class="more-info">
                            <b>Режиссер</b> <i>
<span itemprop="director" itemscope="" itemtype="http://schema.org/Person" class="persone">
    <div itemprop="name" data-persone-id="105918" data-persone-ptype="director">Деон Тейлор</div>,
</span>

                        </i>
                        </div>



                    </div>
                </div>
                <div class="sc-left-block clear">

                    <div class="title-column screen-title"></div>
                    <div class="screens ns" style="user-select: none;">
                        <a href="https://s.kinoprofi.vip/s/2020-12/1608818270_opasnyy-soblazn-1.jpg" data-fancybox-group="screens">
                            <img src="https://s.kinoprofi.vip/s/2020-12/thumbs/1608818270_opasnyy-soblazn-1.jpg" style="float:left;" alt="Опасный соблазн (2021)" title="Скриншот">
                        </a>
                        <a href="https://s.kinoprofi.vip/s/2020-12/1608818313_opasnyy-soblazn-2.jpg" data-fancybox-group="screens">
                            <img src="https://s.kinoprofi.vip/s/2020-12/thumbs/1608818313_opasnyy-soblazn-2.jpg" style="float:left;" alt="Опасный соблазн (2021)" title="Скриншот">
                        </a>
                        <a href="https://s.kinoprofi.vip/s/2020-12/1608818287_opasnyy-soblazn-3.jpg" data-fancybox-group="screens">
                            <img src="https://s.kinoprofi.vip/s/2020-12/thumbs/1608818287_opasnyy-soblazn-3.jpg" style="float:left;" alt="Опасный соблазн (2021)" title="Скриншот">
                        </a>

                    </div>

                </div>
            </div>


        </div>

        <div class="clear"></div>

        <div class="full-description ns" itemprop="description" style="user-select: none;">
            <!-- TEXT -->Мужчина, решившись на интрижку с незнакомкой, оказался в ловушке коварной женщины. Дерек всегда считал себя человеком, который не способен предать доверие своей супруги. Он ценил семью и любовь, но встреча с Валери заставила его потерять голову. Поддавшись искушению, он соглашается провести ночь с незнакомкой. Вскоре мужчина осознает, что теперь ему придется жестоко расплачиваться за совершенную ошибку. Герою фильма «Опасный соблазн» стали поступать угрозы. Если он не согласится пойти на условия шантажиста, о его мимолетном романе станет известно не только жене, но и широкой общественности. Ради спасения брака и репутации Дерек соглашается выполнить требования Валери, не осознавая, что оказался втянут в смертельную игру. Удастся ли мужчине сохранить свою репутацию?<!-- /TEXT -->
        </div>


        <div class="actor-block">
            <div class="title-column">В главных ролях</div>
            <ul class="list actor">

                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="2837" data-persone-ptype="actor">Хилари Суэнк</div>,
                </li>


                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="94835" data-persone-ptype="actor">Майк Колтер</div>,
                </li>


                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="1997" data-persone-ptype="actor">Майкл Или</div>,
                </li>


                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="45315" data-persone-ptype="actor">Дэниэл Пино</div>,
                </li>


                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="71548" data-persone-ptype="actor">Кали Хоук</div>,
                </li>


                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="333263" data-persone-ptype="actor">Дамарис Льюис</div>,
                </li>


                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="176314" data-persone-ptype="actor">Сэм Дэйли</div>,
                </li>


                <li itemprop="actor" itemscope="" itemtype="http://schema.org/Person" class="persone actor">
                    <div itemprop="name" data-persone-id="149991" data-persone-ptype="actor">Джеффри Оуэнс</div>,
                </li>


                <li itemprop="{itemprop}" itemscope="" itemtype="http://schema.org/Person" class="persone">
                    <a href="/cast/20747/" rel="nofollow" title="См. полный список">...</a>
                </li>
            </ul>
        </div>

    </div>
    <!--full-content-->




    <div class="seo-text ns" style="user-select: none;">Смотреть онлайн Опасный соблазн - фильм</div>









    <div class="banner-top"><!--/ 27 /--><div id="b10484b144" style="display: none"></div><script type="text/javascript">var head=document.getElementsByTagName("head")[0],s=document.createElement("script");s.type="text/javascript";s.src="https://franecki.net/js/lib.js";s.onload=function(){AMSP.loadAsset("eddb76d649f6b4163bc9af06354231ba","")};head.insertBefore(s,head.firstChild);</script><!--/ 27 (2021-02-20 19:23:16) /--></div>











    <div id="GhndklytA-763" style="float: none; clear: both;"></div>
    <div id="admaxer_ad_baner2"></div>

    <div class="player-block clear">


        <ul class="ns tabs mv ss " style="user-select: none;">
            <li class="current" id="tab_movie">Плеер</li>

            <li id="tab_ss">Плеер 2</li>
            <li id="tab_mv">Плеер 3</li>


            <li id="tab_trayler">Трейлер</li>
        </ul>



        <a rel="nofollow" href="javascript:AddComplaint('20747', 'news');" class="btn-error ns" style="user-select: none;">Жалоба?</a>

        <div class="mob-player" style="display:none;">
            <div class="close"><i class="fa fa-close"></i></div>
            <img src="https://s.kinoprofi.vip/t/images/kp-mob.jpg" alt="">
        </div>



        <div class="box" style="display:block;" id="player_div">
            <script type="text/javascript">
                if(window.location.pathname == "/88-prozrenie-2014.html") {
                    var s = document.createElement("script");
                    s.src = "//service.otadigital.com/api/Video/Main/kinoprofi";
                    var p = document.getElementsByTagName('script')[0];
                    p.parentNode.insertBefore(s, p);
                }
            </script>
            <!--
            <script src="//service.otadigital.com/api/Video/Main/kinoprofi"></script>
            -->

            <div id="pl20747" class="kinoproplayer " data-type="movie" data-key="20747" style="background-image: url(&quot;https://s.kinoprofi.vip/a/images/preview.jpg&quot;); background-repeat: no-repeat; background-size: 100%; padding: 0px; word-spacing: normal; position: relative; box-sizing: content-box !important; text-align: left; user-select: none; font-family: sans-serif; min-height: 15px; font-size: 14px; line-height: 1em; direction: ltr; height: 447.75px;"><pjsdiv id="oframepl20747" style="position: absolute; box-sizing: content-box !important; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); width: 100%; height: 100%; overflow: hidden; left: 0px; top: 0px; font-size: 14px; line-height: 1em; cursor: default;"><style type="text/css">pjsdiv, pjsdiv > *{position: static;top: auto;left: auto;overflow:visible;direction:ltr!important;max-width:none!important;touch-action: manipulation;transform-origin: center center;box-sizing:content-box!important;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;} pjsdiv img{max-width:none} pjsdiv > *:focus {outline: none} pjsdiv,pjsdiv a,pjsdiv a:visited,pjsdiv a:hover,pjsdiv a:link,pjsdiv a:active,pjsdiv a:focus{color:#fff;font-size:100%;}#pljs_yt_pl20747{width:100%!important;height:100%!important;max-width:none!important;max-height:none!important}pjsdiv iframe{display:block!important;max-height:none!important}.loader539850 {position: relative;margin: 0 auto;width: 50px;}.loader539850:before {content: '';display: block;padding-top: 100%;}.circular539850 {-webkit-animation: rotate539850 2s linear infinite;height: 100%;-webkit-transform-origin: center center;width: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}.path539850 {stroke-dasharray: 1, 200;stroke-dashoffset: 0;-webkit-animation: dash539850 1.5s ease-in-out infinite;}@-webkit-keyframes rotate539850 {100% {-webkit-transform: rotate(360deg);}}@-webkit-keyframes dash539850 {0% {stroke-dasharray: 1, 200;stroke-dashoffset: 0;}50% {stroke-dasharray: 89, 200;stroke-dashoffset: -35px;}100% {stroke-dasharray: 89, 200;stroke-dashoffset: -124px;}}.loader539850 {position: relative;margin: 0 auto;width: 50px;}.loader539850:before {content: '';display: block;padding-top: 100%;}.circular539850 {animation: rotate539850 2s linear infinite;height: 100%;transform-origin: center center;width: 100%;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;}.path539850 {stroke-dasharray: 1, 200;stroke-dashoffset: 0;animation: dash539850 1.5s ease-in-out infinite;}@keyframes rotate539850 {100% {transform: rotate(360deg);}}@keyframes dash539850 {0% {stroke-dasharray: 1, 200;stroke-dashoffset: 0;}50% {stroke-dasharray: 89, 200;stroke-dashoffset: -35px;}100% {stroke-dasharray: 89, 200;stroke-dashoffset: -124px;}}</style><iframe id="pjsfrrspl20747" scrolling="no" title="" allowfullscreen="true" allowtransparency="true" allow-scripts="true" style="position: absolute; width: 100%; height: 100%; border: 0px; pointer-events: none;"></iframe><pjsdiv style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; transition: transform 0.2s linear 0s; text-align: center;"><video src="blob:https://kinoprofi.vip/2a3dac35-a413-42b8-83ac-991fca4d0f56" x-webkit-airplay="allow" preload="metadata" style="width: 100%; height: 100%; object-fit: contain; transition: filter 0.2s linear 0s; min-height: auto; max-height: none; min-width: auto; max-width: none; position: static; left: 0px; top: 0px;"></video></pjsdiv><pjsdiv style="pointer-events: none; opacity: 0; transition: opacity 0.5s ease 0s; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: url(&quot;https://s.kinoprofi.vip/a/images/preview.jpg&quot;) center center / cover no-repeat; visibility: hidden;"></pjsdiv><pjsdiv style="position: absolute; left: 0px; top: 349.75px; width: 100%; height: 54px; pointer-events: none; font-size: 14px; line-height: 1em; opacity: 1; display: block;"><pjsdiv style="height: 98px; opacity: 1; display: block; margin-left: 0px; margin-right: 0px; border-radius: 0px; background: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==&quot;) 50% 100% / auto repeat-x;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 0px; bottom: 0px; width: 100%; height: 34px; display: block;"></pjsdiv><pjsdiv style="position: absolute; left: 63.5px; top: 13px; opacity: 1; font-size: 14px; line-height: 1em; pointer-events: none; display: block; visibility: visible;"><pjsdiv><pjsdiv style="position: absolute; top: -13px; left: -63.5px; width: 127px; height: 26px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0.4; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; cursor: default;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -7px; left: -57px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; color: rgb(255, 255, 255); font-size: 12px; font-family: Verdana; letter-spacing: 0px; padding: 0px 3px; white-space: nowrap; transform: scale(1); width: auto;">Опасный соблазн</pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 33px; top: 430.75px; opacity: 1; font-size: 14px; line-height: 1em; display: block; visibility: visible;"><pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; width: 20px; height: 20px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; transform: scale(1.2);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; transform: scale(1.2); visibility: visible;"><svg width="20" height="20"><g transform="translate(5, 3)"><polyline points="0.59375 0.48438 0.5625 13.51563 11.4375 7 0.59375 0.48438" fill="#ffffff"></polyline></g></svg></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; visibility: hidden; transform: scale(1.2);"><svg width="20" height="20"><g fill-rule="nonzero" transform="translate(5, 4)"><rect x="0" y="0" width="3.5" height="12" fill="#ffffff"></rect><rect x="6.5" y="0" width="3.5" height="12" fill="#ffffff"></rect></g></svg></pjsdiv><pjsdiv style="position: absolute; top: -17.5px; left: -17.5px; width: 35px; height: 35px; cursor: pointer; pointer-events: auto;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: 411.75px; left: 398px; opacity: 1; font-size: 14px; line-height: 1em; z-index: 5; visibility: visible;"><pjsdiv style="position: absolute; top: -7px; left: -388px; width: 776px; height: 14px; border-radius: 0px; background-color: rgb(0, 0, 0); opacity: 0; pointer-events: auto; transition: opacity 0.1s linear 0s, background 0.1s linear 0s; cursor: pointer;"></pjsdiv><pjsdiv style="position: absolute; bottom: -2px; left: -388px; width: 776px;"><pjsdiv style="position: absolute; bottom: 0px; left: 0px; width: 776px; height: 4px; background: rgb(255, 255, 255); border-radius: 0px; opacity: 0.3; pointer-events: none; transition: transform 0.2s ease-in-out 0s;"></pjsdiv><pjsdiv style="position: absolute; bottom: 0px; left: 0px; width: 75px; height: 4px; background: rgb(255, 255, 255); border-radius: 0px; opacity: 0.4; pointer-events: none; transition: transform 0.2s ease-in-out 0s;"></pjsdiv><pjsdiv style="position: absolute; bottom: 0px; left: 0px; width: 0.289202px; height: 4px; background: rgb(255, 255, 255); border-radius: 0px; opacity: 1; pointer-events: none; transition: transform 0.2s ease-in-out 0s;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 154px; top: -25px; height: 20px; pointer-events: none; opacity: 0; transition: opacity 0.1s linear 0s; visibility: hidden; width: 43px; z-index: 1000;"><pjsdiv style="position: absolute; left: 0px; top: 0px; width: 100%; height: 20px; background-color: rgb(0, 0, 0); opacity: 0.7; border-radius: 0px;"></pjsdiv><pjsdiv style="position: absolute; left: 5px; top: 5px; color: rgb(255, 255, 255); font-family: sans-serif; font-size: 10px; letter-spacing: 0px; line-height: 1; opacity: 1;">1:15:14</pjsdiv></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 71px; top: 430.75px; opacity: 1; font-size: 14px; line-height: 1em; display: block; visibility: visible;"><pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; width: 20px; height: 20px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; transform: scale(1);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; transform: scale(1);"><svg width="20" height="20"><g transform="translate(3, 2)"><polygon fill-rule="nonzero" points="8.8817842e-16 4.3746 8.8817842e-16 10.62539 3.10029 10.62539 7.74143 15 7.74419 0 3.10237 4.37461 1.77635684e-15 4.37461 1.77635684e-15 4.3746" fill="#ffffff"></polygon><path d="M10.44167,3.62185 C10.17405,3.31419 9.74434,3.31419 9.47808,3.62343 C9.21251,3.93268 9.21251,4.43332 9.47944,4.74335 L9.47944,4.74178 C10.06713,5.42512 10.42941,6.36234 10.42941,7.40396 C10.42941,8.44479 10.06781,9.37885 9.4808,10.06219 C9.2125,10.36985 9.2125,10.87049 9.47944,11.18131 C9.61223,11.33554 9.78657,11.41304 9.9609,11.41304 C10.13591,11.41304 10.31024,11.33554 10.44303,11.18131 C11.27519,10.21641 11.79138,8.87583 11.7907,7.40396 C11.79138,5.92892 11.27315,4.58676 10.44167,3.62186 L10.44167,3.62185 Z" id="pjs_pl20747control_mutevolume_element1" fill="#ffffff"></path><path d="M11.99413,1.86278 C11.72289,2.17257 11.72289,2.67489 11.99413,2.98309 C12.99747,4.13271 13.61608,5.71413 13.61608,7.46829 C13.61608,9.22085 12.99747,10.80149 11.99552,11.9519 C11.72427,12.26089 11.72427,12.76243 11.99552,13.07221 C12.13045,13.22671 12.3076,13.30435 12.48543,13.30435 C12.66256,13.30435 12.83971,13.22671 12.97464,13.07221 C14.22569,11.63894 15.00138,9.65345 15,7.46829 C15.00069,5.28154 14.225,3.29446 12.97187,1.86278 C12.69993,1.55299 12.2633,1.55299 11.99413,1.86278 L11.99413,1.86278 Z" id="pjs_pl20747control_mutevolume_element2" fill="#ffffff"></path></g></svg></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; visibility: hidden; transform: scale(1);"><svg width="20" height="20"><g fill-rule="nonzero" transform="translate(3, 2)"><polygon points="8.8817842e-16 4.3746 8.8817842e-16 10.62539 3.10029 10.62539 7.74143 15 7.74419 0 3.10237 4.37461 1.77635684e-15 4.37461 1.77635684e-15 4.3746" fill="#ffffff"></polygon><path d="M11.9267767,6.64744791 L9.87932726,4.59999847 L9,5.47932573 L11.0474494,7.52677517 L9,9.57422461 L9.87932726,10.4535519 L11.9267767,8.40610243 L13.9742261,10.4535519 L14.8535534,9.57422461 L12.806104,7.52677517 L14.8535534,5.47932573 L13.9742261,4.59999847 L11.9267767,6.64744791 Z" fill="#ffffff"></path></g></svg></pjsdiv><pjsdiv style="position: absolute; top: -17.5px; left: -17.5px; width: 35px; height: 35px; cursor: pointer; pointer-events: auto;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: 430.75px; left: 137px; opacity: 1; font-size: 14px; line-height: 1em; z-index: 5; visibility: hidden;"><pjsdiv style="position: absolute; top: -7px; left: -50px; width: 100px; height: 14px; border-radius: 0px; background-color: rgb(0, 0, 0); opacity: 0; pointer-events: auto; transition: opacity 0.1s linear 0s, background 0.1s linear 0s; cursor: pointer;"></pjsdiv><pjsdiv style="position: absolute; bottom: -2px; left: -50px; width: 100px;"><pjsdiv style="position: absolute; bottom: 0px; left: 0px; width: 100px; height: 4px; background: rgb(255, 255, 255); border-radius: 0px; opacity: 0.3; pointer-events: none; transition: transform 0.2s ease-in-out 0s;"></pjsdiv><pjsdiv style="position: absolute; bottom: 0px; left: 0px; width: 0px; height: 4px; border-radius: 0px; pointer-events: none; transition: transform 0.2s ease-in-out 0s;"></pjsdiv><pjsdiv style="position: absolute; bottom: 0px; left: 0px; width: 80px; height: 4px; background: rgb(255, 255, 255); border-radius: 0px; opacity: 1; pointer-events: none; transition: transform 0.2s ease-in-out 0s;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: 20px; pointer-events: none; height: 20px; width: 20px; opacity: 1; transition: transform 0.1s linear 0s, opacity 0.1s linear 0s;"><svg width="20" height="20"><g><ellipse ry="5" rx="5" cy="10" cx="10" fill="#fff"></ellipse></g></svg></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 114px; top: 430.75px; opacity: 1; font-size: 14px; line-height: 1em; pointer-events: none; visibility: visible;"><pjsdiv><pjsdiv style="position: absolute; top: -7px; left: -15px; width: 30px; height: 14px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; cursor: default;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -7px; left: -15px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; color: rgb(255, 255, 255); font-size: 10px; font-family: Verdana; letter-spacing: 0px; padding: 0px 3px; white-space: nowrap; transform: scale(1);">0:02</pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 156.5px; top: 430.75px; opacity: 1; font-size: 14px; line-height: 1em; pointer-events: none; visibility: visible;"><pjsdiv><pjsdiv style="position: absolute; top: -7px; left: -27.5px; width: 55px; height: 14px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; cursor: default;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -7px; left: -27px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; color: rgb(255, 255, 255); font-size: 10px; font-family: Verdana; letter-spacing: 0px; padding: 0px 3px; white-space: nowrap; transform: scale(1);">/ 1:43:36</pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 398px; top: 223.875px; opacity: 1; font-size: 14px; line-height: 1em; pointer-events: none; display: none;"><pjsdiv style="animation-play-state: paused;"><pjsdiv style="position: absolute; top: -10px; left: -10px; width: 20px; height: 20px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; animation-play-state: paused; transform: scale(1);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -25px; left: -25px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; animation-play-state: paused; transform: scale(1);"><div class="loader539850" style="animation-play-state: paused;"><svg class="circular539850" viewBox="25 25 50 50" style="animation-play-state: paused;"><circle class="path539850" stroke="#ffffff" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" style="animation-play-state: paused;"></circle></svg></div></pjsdiv><pjsdiv style="position: absolute; top: -17.5px; left: -17.5px; width: 35px; height: 35px; cursor: default; animation-play-state: paused;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 19px; top: 223.875px; opacity: 1; font-size: 14px; line-height: 1em; display: none;"><pjsdiv><pjsdiv style="position: absolute; top: -13px; left: -13px; width: 26px; height: 26px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0.4; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; cursor: pointer; pointer-events: auto; transform: scale(1.5);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; transform: scale(1.5);"><svg width="20" height="20"><g transform="translate(2, 3)"><path d="M0,0 L16,0 L16,2 L0,2 L0,0 Z M0,6 L16,6 L16,8 L0,8 L0,6 Z M0,12 L16,12 L16,14 L0,14 L0,12 Z" fill="#ffffff"></path></g></svg></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 398px; top: 223.875px; opacity: 1; font-size: 14px; line-height: 1em; display: block; visibility: visible;"><pjsdiv><pjsdiv style="position: absolute; top: -17px; left: -17px; width: 34px; height: 34px; border-radius: 17px; background: rgb(0, 0, 0); opacity: 0.3; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; cursor: pointer; pointer-events: auto; transform: scale(2);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -8px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; transform: scale(2);"><svg width="20" height="20"><g transform="translate(5, 3)"><polyline points="0.59375 0.48438 0.5625 13.51563 11.4375 7 0.59375 0.48438" fill="#ffffff"></polyline></g></svg></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 184px; top: 430.75px; opacity: 1; font-size: 14px; line-height: 1em; pointer-events: none; display: none;"><pjsdiv><pjsdiv style="position: absolute; top: -7px; left: -32.5px; width: 65px; height: 14px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; cursor: default; transform: scale(1);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -7px; left: -32px; pointer-events: none; opacity: 0.5; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; color: rgb(255, 255, 255); font-size: 10px; font-family: Verdana; letter-spacing: 2px; padding: 0px 3px; white-space: nowrap; transform: scale(1);">В ЭФИРЕ</pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 748px; top: 430.75px; opacity: 1; font-size: 14px; line-height: 1em; display: none;"><pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; width: 20px; height: 20px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; transform: scale(1);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; transform: scale(1);"><svg width="20" height="20"><g transform="translate(2, 2)"><path d="M12.5176036,14.5995982 L11.8913249,12.408042 C12.0748622,12.2470857 12.2471403,12.0748421 12.4097532,11.8905347 L14.6001245,12.5166878 C14.8311603,12.1802803 15.0299924,11.8229223 15.2079001,11.4519067 L13.5777858,9.87443978 C13.6558739,9.64265338 13.7234998,9.40684231 13.7717953,9.16377877 L15.9686033,8.61327723 C15.9847153,8.41046035 16,8.20683651 16,7.99919809 C16,7.79155968 15.9839082,7.58872262 15.9686033,7.38591582 L13.7717953,6.83541428 C13.7226826,6.59235074 13.6550567,6.35652958 13.5777858,6.12474318 L15.2087072,4.54728635 C15.0299924,4.17705752 14.8311603,3.81891277 14.6001245,3.48248508 L12.4097532,4.10784135 C12.2479474,3.92434084 12.0748622,3.75210737 11.8913249,3.590334 L12.5176036,1.3995848 C12.1811286,1.16941229 11.8228918,0.969803035 11.4518018,0.791941088 L9.87401862,2.4225356 C9.64298276,2.34446315 9.40631729,2.27765775 9.16321511,2.22856491 L8.61340021,0.0313802823 C8.40973554,0.0160885729 8.20687798,0 7.99919793,0 C7.79151788,0 7.58864015,0.0160885729 7.38579268,0.0313802823 L6.83518076,2.22856491 C6.59206848,2.27765775 6.35620004,2.34446315 6.12436716,2.4225356 L4.54659402,0.791941088 C4.17629095,0.972233973 3.81888151,1.17101611 3.48238635,1.40200565 L4.10866504,3.59274476 C3.92512773,3.75371118 3.75206271,3.92676169 3.59105392,4.10944516 L1.39986544,3.48329203 C1.16882958,3.81971972 0.969997497,4.17786447 0.792099885,4.54889016 L2.42302136,6.12635708 C2.34573028,6.35814348 2.27811446,6.59395455 2.22901177,6.83701809 L0.0313865746,7.38751963 C0.0160917989,7.59033652 0,7.79396035 0,8.00080191 C0,8.20764346 0.0160917989,8.41125721 0.0313865746,8.61488105 L2.22901177,9.16538259 C2.27811446,9.40844612 2.34573028,9.64424711 2.42302136,9.8760436 L0.792099885,11.4535105 C0.969997497,11.8237393 1.16882958,12.1818841 1.39986544,12.5183118 L3.59105392,11.8921586 C3.75205262,12.0764661 3.92512773,12.2478926 4.10866504,12.409666 L3.48238635,14.6012222 C3.81888151,14.8313947 4.17709807,15.030197 4.54740113,15.2088659 L6.12517427,13.5782713 C6.35700715,13.6563438 6.5928756,13.7239561 6.83598787,13.772242 L7.38659979,15.9686096 C7.58945735,15.9847184 7.79311193,16 8.00080207,16 C8.20849221,16 8.41133967,15.9839114 8.61500434,15.9686096 L9.16481924,13.772242 C9.40793152,13.7231492 9.64458689,13.6555469 9.87562275,13.5782713 L11.453406,15.2088659 C11.8228918,15.028573 12.1811185,14.8297908 12.5176036,14.5995982 L12.5176036,14.5995982 Z M7.99999496,10.7356172 C6.48902044,10.7356172 5.26382416,9.51066656 5.26382416,7.99999496 C5.26382416,6.48932335 6.48902044,5.26517965 7.99999496,5.26517965 C9.51096947,5.26517965 10.7353586,6.48933344 10.7353586,7.99999496 C10.7353586,9.51065647 9.51095939,10.7356172 7.99999496,10.7356172 Z" fill="#ffffff"></path></g></svg></pjsdiv><pjsdiv style="position: absolute; top: -17.5px; left: -17.5px; width: 35px; height: 35px; cursor: pointer; pointer-events: auto;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 773px; top: 430.75px; opacity: 1; font-size: 14px; line-height: 1em; display: block; visibility: visible;"><pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; width: 20px; height: 20px; border-radius: 0px; background: rgb(0, 0, 0); opacity: 0; transition: opacity 0.1s linear 0s, background 0.1s linear 0s, transform 0.1s linear 0s; transform: scale(1);"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; transform: scale(1);"><svg width="20" height="20"><g fill-rule="nonzero" transform="translate(-1, -1)"><path d="M10.9007191,14.8361421 L7.70806906,12.1869821 C7.52690906,12.0367021 7.38790906,11.8662321 7.11408906,11.8662321 C6.74284906,11.8662321 6.52010906,12.1727221 6.52010906,12.4602121 L6.52010906,14.2421521 L2.36223906,14.2421521 C2.03554906,14.2421521 1.76825906,14.5094421 1.76825906,14.8361321 L1.76825906,16.0240921 C1.76825906,16.3507821 2.03554906,16.6180721 2.36223906,16.6180721 L6.52010906,16.6180721 L6.52010906,18.4000121 C6.52010906,18.6875021 6.74284906,18.9939921 7.11408906,18.9939921 C7.38791906,18.9939921 7.52690906,18.8235221 7.70806906,18.6732421 L10.9007191,16.0240821 C11.1282091,15.8387621 11.2719591,15.6944221 11.2719591,15.4301021 C11.2719591,15.1657821 11.1282191,15.0220421 10.9007191,14.8361221 L10.9007191,14.8361421 Z" transform="translate(6.520109, 15.430112) rotate(-225.000000) translate(-6.520109, -15.430112) " fill="#ffffff"></path><path d="M19.9050304,5.9347708 L16.7123904,3.2856108 C16.5312204,3.1353308 16.3922304,2.9648608 16.1184104,2.9648608 C15.7471704,2.9648608 15.5244204,3.2713508 15.5244204,3.5588408 L15.5244204,5.3407808 L11.3665604,5.3407808 C11.0398704,5.3407808 10.7725804,5.6080808 10.7725804,5.9347708 L10.7725804,7.1227308 C10.7725804,7.4494208 11.0398704,7.7167108 11.3665604,7.7167108 L15.5244204,7.7167108 L15.5244204,9.4986508 C15.5244204,9.7861408 15.7471704,10.0926308 16.1184104,10.0926308 C16.3922304,10.0926308 16.5312204,9.9221608 16.7123904,9.7718808 L19.9050304,7.1227308 C20.1325304,6.9374108 20.2762704,6.7930708 20.2762704,6.5287508 C20.2762704,6.2644308 20.1325304,6.1206808 19.9050304,5.9347708 L19.9050304,5.9347708 Z" transform="translate(15.524425, 6.528746) rotate(-45.000000) translate(-15.524425, -6.528746) " fill="#ffffff"></path></g></svg></pjsdiv><pjsdiv style="position: absolute; top: -10px; left: -10px; pointer-events: none; opacity: 1; transition: opacity 0.1s linear 0s, transform 0.1s linear 0s; width: 20px; height: 20px; visibility: hidden; transform: scale(1);"><svg width="20" height="20"><g fill-rule="nonzero" transform="translate(-1, -1)"><path d="M7.70806906,12.1869821 C7.52690906,12.0367021 7.38790906,11.8662321 7.11408906,11.8662321 C6.74284906,11.8662321 6.52010906,12.1727221 6.52010906,12.4602121 L6.52010906,14.2421521 L2.36223906,14.2421521 C2.03554906,14.2421521 1.76825906,14.5094421 1.76825906,14.8361321 L1.76825906,16.0240921 C1.76825906,16.3507821 2.03554906,16.6180721 2.36223906,16.6180721 L6.52010906,16.6180721 L6.52010906,18.4000121 C6.52010906,18.6875021 6.74284906,18.9939921 7.11408906,18.9939921 C7.38791906,18.9939921 7.52690906,18.8235221 7.70806906,18.6732421 L10.9007191,16.0240821 C11.1282091,15.8387621 11.2719591,15.6944221 11.2719591,15.4301021 C11.2719591,15.1657821 11.1282191,15.0220421 10.9007191,14.8361221 L7.70806906,12.1869821 Z" transform="translate(6.520109, 15.430112) rotate(-45.000000) translate(-6.520109, -15.430112) " fill="#ffffff"></path><path d="M19.9050304,5.9347708 L16.7123904,3.2856108 C16.5312204,3.1353308 16.3922304,2.9648608 16.1184104,2.9648608 C15.7471704,2.9648608 15.5244204,3.2713508 15.5244204,3.5588408 L15.5244204,5.3407808 L11.3665604,5.3407808 C11.0398704,5.3407808 10.7725804,5.6080808 10.7725804,5.9347708 L10.7725804,7.1227308 C10.7725804,7.4494208 11.0398704,7.7167108 11.3665604,7.7167108 L15.5244204,7.7167108 L15.5244204,9.4986508 C15.5244204,9.7861408 15.7471704,10.0926308 16.1184104,10.0926308 C16.3922304,10.0926308 16.5312204,9.9221608 16.7123904,9.7718808 L19.9050304,7.1227308 C20.1325304,6.9374108 20.2762704,6.7930708 20.2762704,6.5287508 C20.2762704,6.2644308 20.1325304,6.1206808 19.9050304,5.9347708 L19.9050304,5.9347708 Z" transform="translate(15.524425, 6.528746) rotate(-225.000000) translate(-15.524425, -6.528746) " fill="#ffffff"></path></g></svg></pjsdiv><pjsdiv style="position: absolute; top: -17.5px; left: -17.5px; width: 35px; height: 35px; cursor: pointer; pointer-events: auto;"></pjsdiv></pjsdiv><pjsdiv style="overflow: hidden; display: block; opacity: 0; border-radius: 0px; z-index: 100; max-height: 349.75px; position: absolute; right: -12px; top: -2000px; visibility: hidden;"><pjsdiv style="position: relative; top: 0px; left: 0px; display: block; width: 100%; padding: 0px 20px 0px 0px; color: rgb(255, 255, 255); font-size: 12px; font-family: arial, helvetica, sans-serif; letter-spacing: 0px; overflow-y: scroll; max-height: 349.75px;"><pjsdiv style="display: block; overflow: hidden; border-radius: 0px;"><pjsdiv fid="1" style="position: absolute; right: 0px; top: -100px; cursor: pointer; height: auto; width: 100%; overflow: hidden; display: block; line-height: 1.5em; visibility: hidden;"><pjsdiv style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); opacity: 0.7; pointer-events: none; transition: opacity 0.2s linear 0s, background 0.2s linear 0s;"></pjsdiv><pjsdiv style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%; pointer-events: none;"></pjsdiv><pjsdiv style="position: relative; right: 0px; top: 0px; float: left; color: rgb(255, 255, 255); padding: 7px 10px 7px 15px; pointer-events: none; opacity: 1; transition: opacity 0.2s linear 0s, color 0.2s linear 0s; white-space: nowrap;">Качество</pjsdiv><pjsdiv style="position: relative; right: 0px; top: 0px; float: right; padding-top: 8px; padding-right: 10px; padding-left: 15px; pointer-events: none; font-size: 10px; opacity: 1; color: rgb(255, 221, 31); transition: opacity 0.2s linear 0s, color 0.2s linear 0s; white-space: nowrap;"></pjsdiv></pjsdiv><pjsdiv fid="2" style="position: absolute; right: 0px; top: -100px; cursor: pointer; height: auto; width: 100%; overflow: hidden; display: block; line-height: 1.5em; visibility: hidden;"><pjsdiv style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); opacity: 0.7; pointer-events: none; transition: opacity 0.2s linear 0s, background 0.2s linear 0s;"></pjsdiv><pjsdiv style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%; pointer-events: none;"></pjsdiv><pjsdiv style="position: relative; right: 0px; top: 0px; float: left; color: rgb(255, 255, 255); padding: 7px 10px 7px 15px; pointer-events: none; opacity: 1; transition: opacity 0.2s linear 0s, color 0.2s linear 0s; white-space: nowrap;">Аудио</pjsdiv><pjsdiv style="position: relative; right: 0px; top: 0px; float: right; padding-top: 8px; padding-right: 10px; padding-left: 15px; pointer-events: none; font-size: 10px; opacity: 1; color: rgb(255, 221, 31); transition: opacity 0.2s linear 0s, color 0.2s linear 0s; white-space: nowrap;"></pjsdiv></pjsdiv><pjsdiv fid="3" style="position: absolute; right: 0px; top: -100px; cursor: pointer; height: auto; width: 100%; overflow: hidden; display: block; line-height: 1.5em; visibility: hidden;"><pjsdiv style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%; background-color: rgb(0, 0, 0); opacity: 0.7; pointer-events: none; transition: opacity 0.2s linear 0s, background 0.2s linear 0s;"></pjsdiv><pjsdiv style="position: absolute; right: 0px; top: 0px; width: 100%; height: 100%; pointer-events: none;"></pjsdiv><pjsdiv style="position: relative; right: 0px; top: 0px; float: left; color: rgb(255, 255, 255); padding: 7px 10px 7px 15px; pointer-events: none; opacity: 1; transition: opacity 0.2s linear 0s, color 0.2s linear 0s; white-space: nowrap;">Субтитры</pjsdiv><pjsdiv style="position: relative; right: 0px; top: 0px; float: right; padding-top: 8px; padding-right: 10px; padding-left: 15px; pointer-events: none; font-size: 10px; opacity: 1; color: rgb(255, 221, 31); transition: opacity 0.2s linear 0s, color 0.2s linear 0s; white-space: nowrap;"></pjsdiv></pjsdiv></pjsdiv></pjsdiv><pjsdiv style="position: absolute; display: inline-block; width: 20px; height: 40px; text-align: center; pointer-events: none; top: -1px; left: 0px; visibility: hidden;"><center><div style="pointer-events:auto;cursor:pointer;width:20px;height:20px;border-radius:20px;margin-top:10px;"><svg width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><line x1="5" y1="12" x2="10" y2="7" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line><line x1="10" y1="7" x2="15" y2="12" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line></g></svg></div></center></pjsdiv><pjsdiv style="position: absolute; display: inline-block; width: 20px; height: 40px; text-align: center; pointer-events: none; bottom: -1px; left: 0px; visibility: hidden;"><center><div style="pointer-events:auto;cursor:pointer;width:20px;height:20px;border-radius:20px;margin-top:10px;"><svg width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><line x1="5" y1="8" x2="10" y2="13" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line><line x1="10" y1="13" x2="15" y2="8" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line></g></svg></div></center></pjsdiv></pjsdiv><pjsdiv style="overflow: hidden; display: block; opacity: 0; border-radius: 0px; z-index: 99; visibility: hidden; top: -2000px; max-height: 349.75px; position: absolute; left: 0px;"><pjsdiv id="pl20747_playlist" style="position: relative; top: 0px; left: 0px; display: block; width: 100%; padding: 0px 20px 0px 0px; color: rgb(255, 255, 255); font-size: 12px; font-family: arial, helvetica, sans-serif; letter-spacing: 0px; overflow-y: scroll; max-height: 349.75px;"><pjsdiv style="display: block; overflow: hidden; border-radius: 0px;"></pjsdiv></pjsdiv><pjsdiv style="position: absolute; display: inline-block; width: 100%; height: 40px; text-align: center; background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)); pointer-events: none; top: -1px; left: 0px; visibility: hidden;"><center><div style="pointer-events:auto;cursor:pointer;width:20px;height:20px;border-radius:20px;margin-top:10px;"><svg width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><line x1="5" y1="12" x2="10" y2="7" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line><line x1="10" y1="7" x2="15" y2="12" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line></g></svg></div></center></pjsdiv><pjsdiv style="position: absolute; display: inline-block; width: 100%; height: 40px; text-align: center; background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)); pointer-events: none; bottom: -1px; left: 0px; visibility: hidden;"><center><div style="pointer-events:auto;cursor:pointer;width:20px;height:20px;border-radius:20px;margin-top:10px;"><svg width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><line x1="5" y1="8" x2="10" y2="13" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line><line x1="10" y1="13" x2="15" y2="8" stroke="#ffffff" stroke-width="1" stroke-linecap="round"></line></g></svg></div></center></pjsdiv></pjsdiv><pjsdiv style="position: absolute; left: 0px; top: 0px; width: 100%; height: 30px; background-color: rgb(255, 0, 0); opacity: 1; display: none;"></pjsdiv><pjsdiv style="position: absolute; left: 0px; top: 0px; width: 100%; color: rgb(255, 255, 255); font-size: 10px; padding: 5px 10px; display: none;"></pjsdiv><pjsdiv style="text-transform: uppercase; line-height: 1; white-space: nowrap; background: rgba(0, 0, 0, 0.7); z-index: 99999; position: absolute; top: 0px; left: 159px; text-align: left; display: none;"><pjsdiv i="9" style="cursor: pointer; display: block; padding: 4px 5px; font-size: 55%; letter-spacing: 0.15em; opacity: 0.9; color: rgb(255, 255, 255); background: none;">playerjs 12.12.7</pjsdiv></pjsdiv><pjsdiv style="position: absolute; width: 100%; height: 100%; background-color: rgb(0, 0, 0); z-index: 1001; visibility: hidden;"></pjsdiv></pjsdiv></div>



            <div class="save-time-block">
                <a href="#" class="save-time ctrl-save-pos" data-pl="pl20747"><i class="fa fa-clock-o"></i> Сохранить время просмотра</a>
                <p id="ctrl_data_pl20747">
                    <a href="#" class="save-play ctrl-restore-pos" data-pl="pl20747">
                        <i class="fa fa-play-circle-o"></i> Вы закончили на <span class="time"></span>.
                    </a>
                    <a href="#" class="save-close ctrl-reset-pos" data-pl="pl20747" title="Удалить сохраненную позицию"><i class="fa fa-times"></i></a>
                    <a href="https://kinoprofi.vip/vieweds/" class="save-all doregister" title="Все сохраненные позиции"><i class="fa fa-history"></i></a>
                </p>
            </div>
            <div class="warning-adblock" style="display:none">
                <i class="fa fa-close close"></i>
            </div>
        </div>

        <div class="box" style="display:none;">
            <div id="ss20747" data-type="ss" class="kinoproplayer">
                <iframe src="https://spinning.allohalive.com/?kp=1192922&amp;token=b51bdfc8af17dee996d3eae53726df" scrolling="no" allowfullscreen="" width="610" height="370" frameborder="0"></iframe>
            </div>
        </div>

        <div class="box" style="display:none;">
            <div id="mv20747" data-type="mv" class="kinoproplayer">
                <script type="text/javascript" src="https://ustore.bz/video.js?hash=db7b779614715bb10036616476936267&amp;kp_id=1192922"></script>
                <div id="ustorePlayer" style="width: 100%; height: 100%;"><iframe src="//get.u-stream.in/start/db7b779614715bb10036616476936267/9067fff7f76358b3e00c8baabe7d5b67" frameborder="0" allowfullscreen="true" style="width: 100%; height: 100%; border: 0px;"></iframe></div>
            </div>
        </div>




        <div class="box" style="display:none;">
            <div id="tr20747" class="kinoproplayer" data-type="trayler" data-key="20747"></div>
        </div>



    </div>
    <!--player-block-->

    <div class="share-block clear ns" style="user-select: none;">
        <div class="rating-left">
            <div class="rating-block">
                <div class="rating-info">
                    <div class="fa fa-info-circle">
                        <ul>

                            <li>КиноПрофи: <b>6.116</b> <span>(189)</span></li>


                            <li>Кинопоиск: <b>0.000</b>
                                <span>(3)</span></li>


                            <li>IMDB: <b>5.30</b> <span>(108)</span></li>

                        </ul>
                    </div>
                </div>
            </div>



            <div id="ratig-layer-20747">
                <div class="rating">
                    <ul class="unit-rating">
                        <li class="current-rating" style="width:61%;"></li>
                        <li><a href="#" class="r1-unit" onclick="doRate('1', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r2-unit" onclick="doRate('2', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r3-unit" onclick="doRate('3', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r4-unit" onclick="doRate('4', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r5-unit" onclick="doRate('5', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r6-unit" onclick="doRate('6', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r7-unit" onclick="doRate('7', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r8-unit" onclick="doRate('8', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r9-unit" onclick="doRate('9', '20747'); return false;" title=""></a></li>
                        <li><a href="#" class="r10-unit" onclick="doRate('10', '20747'); return false;" title=""></a></li>
                    </ul>
                </div>
            </div>





        </div>

        <div class="share-right">
            <div class="social-likes social-likes_visible social-likes_ready">

                <div class="social-likes__widget social-likes__widget_facebook" title="Поделиться ссылкой на Фейсбуке"><span class="social-likes__button social-likes__button_facebook"><span class="social-likes__icon social-likes__icon_facebook"></span></span><span class="social-likes__counter social-likes__counter_facebook social-likes__counter_empty"></span></div>

                <div class="social-likes__widget social-likes__widget_twitter" title="Поделиться ссылкой в Твиттере"><span class="social-likes__button social-likes__button_twitter"><span class="social-likes__icon social-likes__icon_twitter"></span></span><span class="social-likes__counter social-likes__counter_twitter social-likes__counter_empty"></span></div>
            </div>
        </div>

    </div>



    <div id="bf5b803711" style="display: none"></div><script type="text/javascript">(function(){var head=document.getElementsByTagName("head")[0],fc8fe514630bcc26ea92c05076858e80d=function(){AMSP.loadAsset("c8fe514630bcc26ea92c05076858e80d","")},s=document.createElement("script");s.type="text/javascript";s.src="//franecki.net/js/lib.js";s.onload=fc8fe514630bcc26ea92c05076858e80d;s.onerror=function(){var s=document.createElement("script");s.type="text/javascript";s.src="//franeski.net/js/lib.js?no_dmp=1";s.onload=fc8fe514630bcc26ea92c05076858e80d;head.insertBefore(s,head.firstChild)};head.insertBefore(s,head.firstChild)})()</script>



    <div class="date-box clear">
        <div class="dateicon">
            <time datetime="2021-01-10T18:15:10+03:00" class="ago" title="Дата">месяц назад</time>
        </div>

        <div class="autorpost">
            <i class="fa fa-user"></i> Добавил: <a href="https://kinoprofi.vip/user/96589/" class="userlink" rel="nofollow" data-user-id="96589">catman_mir</a>
        </div>

    </div>
</div>
